* {
  margin: 0;
  padding: 0;
}

.simple_note_sidebar {
  width: 445px;

  min-height: 670px;
  max-height: auto;

  position: absolute;
  padding-bottom: 10;
  margin-bottom: 10;
  border-right: 1px solid rgb(168, 168, 168);
}

.simple-note-main {
  max-width: auto;
  min-height: 670px;
  max-height: auto;
  position: relative;
  margin-left: 500px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.simple_note_navbar {
  height: 50px;

  max-width: auto;
  border-top: 0.5px solid rgb(168, 168, 168);
  border-bottom: 0.5px solid rgb(168, 168, 168);
  border-radius: 2px;
}

.nav-row {
  display: flex;
}

.line {
  width: 1px;
  margin-left: 20px;
  background-color: grey;
  height: 50px;
}
.nav-notes {
  margin-left: 150px;
  margin-right: 80px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
}
.nav-icon {
  margin-top: 12px;
  margin-left: 10px;
}

.eye:hover,
.eye-1:hover,
.info:hover,
.check:hover,
.more:hover,
.post:hover,
.arrow-btn:hover,
.flip:hover {
  cursor: grab;
}

.eye,
.info,
.more,
.check {
  position: relative;
  display: inline-block;
  padding-top: 5px;
}

.eye .tooltip,
.info .tooltip,
.more .tooltip,
.check .tooltip {
  padding-top: 15px;
  visibility: hidden;
  width: 80px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  left: 25%;
  margin-left: -50px;
  opacity: 0;
  transition: opacity 0.3s;
}

.eye .tooltip::after,
.info .tooltip::after,
.more .tooltip::after,
.check .tooltip::after {
  position: absolute;
  top: 100%;
  right: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(221, 207, 207) transparent transparent transparent;
}

.eye:hover .tooltip,
.more:hover .tooltip,
.info:hover .tooltip,
.check:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.eye,
.info,
.more,
.check {
  display: inline;
  right: 0%;
}
.empty_spacing_nav {
  width: 100px;
  height: 10px;
  padding-right: 30rem;
  display: inline;
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .empty_spacing_nav {
    padding-right: 15rem;
  }
}
@media screen and (min-width: 1001px) and (max-width: 1200px) {
  .empty_spacing_nav {
    padding-right: 25rem;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1500px) {
  .empty_spacing_nav {
    padding-right: 35rem;
  }
}

@media screen and (min-width: 1501px) {
  .empty_spacing_nav {
    padding-right: 42rem;
  }
}

.post {
  padding-left: 50px;
}

.nav-right {
  margin-left: 50px;
}

.info,
.check,
.more {
  padding-left: 10px;
}

.search {
  width: 430px;
  margin-left: 10px;
  height: 40px;
  border-bottom: 0.5px solid rgb(206, 198, 198);
}

.side-icon {
  margin-top: 7px;
  margin-left: 5px;
  position: absolute;
}

.search-p {
  margin-bottom: 0px;
  margin-left: 50px;
  font-size: 20px;
  margin-top: 8px;
  width: 350px;
  font-weight: 300;
  position: absolute;
  border: none;
  outline: none;
}
.card-p {
  margin-bottom: 3px;
  font-size: 15px;
  font-family: monospace;
}

.note-meta {
  margin-top: 20px;
}

.card {
  width: 380px;
  margin-left: 28px;
  height: 80px;
  position: relative;
  border-bottom: 1px solid grey;
}
.notes {
  margin-top: 8px;
  background-color: white;
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 5px;
}

.active {
  background-color: thistle;
}

.star {
  margin-top: 7px;
  margin-left: 1px;
  margin-right: 5px;
  position: absolute;

  opacity: 0;
}

.star-fill {
  margin-top: 7px;
  margin-left: 1px;
  margin-right: 5px;
  position: absolute;
}
.notes:hover .star {
  opacity: 1;
}

.menu {
  padding-left: 10px;
  padding-top: 30px;
  border-radius: 3px;
  width: 220px;
  height: 100%;
  box-shadow: 5px 4px 8px 5px rgba(20, 20, 20, 0.2);
  z-index: 1;
  background-color: rgb(255, 255, 255);
  margin-top: 50px;
  position: absolute;
}

.sidebar .menu {
  opacity: 0;
}

.menu-txt {
  font-size: 20px;
  margin-right: 30px;
  padding-left: 30px;
}

.menu-icon {
  padding-left: 20px;
}

.menu-hr {
  width: 200px;
  padding-bottom: 30px;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.card-head {
  font-weight: 500;
  font-family: sans-serif;
}
.trash,
.settings,
.notes {
  padding-left: 25px;
}

.trash-icon {
  padding-left: 50px;
}

.settings-icon {
  padding-left: 30px;
}

.tags-edit {
  padding-left: 105px;
  color: blue;
  font-size: 20px;
  font-weight: 500;
}
.tags-edit:hover {
  cursor: grab;
}

.m-tags-txt {
  font-size: 20px;
  font-weight: 300;
  padding-left: 10px;
  border-bottom: 1px solid rgb(211, 197, 197);
  margin-bottom: 25px;
  padding-bottom: 5px;
}

.arrow:hover {
  cursor: grab;
}

.arrow-btn {
  border: none;
}

.close {
  cursor: grab;
}

.text-area-body {
  display: block;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  width: 90%;
  height: 300px;
  padding: 10px;
  border: none;
  border-style: none;
  border-color: Transparent;
  overflow: auto;
}

.empty-spacing {
  padding-top: 50px;
}

.markdown-preview {
  padding: 0 25px 25px 25px;
  font-size: 1rem;
  line-height: 2rem;
}

.mm {
  min-height: 500px;
  max-height: max-content;
  margin-top: 20px;
  padding: 10px;
}

.main-save-btn {
  margin-bottom: 15px;
  border: none;
  background-color: #008cba;
  color: white;
  padding: 15px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding-top: 10px;
}

@media screen and (min-width: 500px) and (max-width: 1200px) {
  .main-save-btn {
    margin-left: 500px;
  }
}
@media screen and (min-width: 1300px) {
  .main-save-btn {
    margin-left: 800px;
  }
}
.div-text {
  width: 350px;
  margin-left: 800px;
  margin-top: 100px;
  box-sizing: border-box;
  box-shadow: 5px 4px 8px 5px rgba(1, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  height: 250px;

  z-index: 1;
  position: absolute;
}

.info-heading {
  padding-right: 50px;
}

.close {
  size: 50px;
  padding-left: 150px;
}

.txt-hr {
  margin-top: 15px;
}

.lastsynced {
  padding-left: 30px;
}

.window {
  margin-top: 20px;
}

.modified,
.created,
.char,
.words {
  margin-top: 15px;
}

.modified-span {
  margin-left: 20px;
}

.created-span {
  margin-left: 20px;
}

.char span,
.words span {
  margin-left: 50px;
}

.words {
  padding-right: 70px;
}

.words span {
  padding-right: 50px;
}

.char {
  padding-right: 50px;
}

.tags {
  background: #ffffff;
  border: 1px solid #d6d6d6;
  border-radius: 2px;
}

.tags input {
  border: none;
  width: 100%;
  min-width: 50px;
}
.tags input:focus {
  outline: none;
}
ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}
ul li {
  align-items: center;
  background: #778ca3;
  border-radius: 2px;
  color: #ffffff;
  list-style: none;
  margin: 5px;
  padding: 5px;
}
ul li button {
  align-items: center;
  background: #333333;
  border: none;
  color: #ffffff;
  cursor: pointer;
  height: 15px;
  width: 15px;
  font-size: 12px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  margin-left: 8px;
  transform: rotate(45deg);
}
ul .input-tags {
  background: none;
  flex-grow: 1;
}
